* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#conteiner {
    text-align: right;
    color: #F7F4FF;
    padding: 12px 24px;
}


#list-team {
    display: inline-block;
    list-style-type: none;
    margin-left: 50px;
    text-align: center;
    color: black;
}

#list-contact {
    color: #8E26C0;
}

.anderline {
    display: inline;
    margin-left: 20px;
}

#contact {
    color: #8E26C0;
}

#button {
    border-color: #53389E;
    border-radius: 8px;
    margin-left: 80px;
}

#us {
    size: 14px;
    color: #8E26C0;
    padding: 8px 16px;
}

#arcticle {
    margin-top: 142px;
    display: inline-block;
    text-align: center;
    width: 100%;
}

#images {
    width: fit-content;
    vertical-align: middle;
}

#sectcion {
    max-width: 644px;
    height: 325px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 60px;
}

#offer {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

#text {
    margin-top: 16px;
    color: #535862;
    font-size: 20px;
    font-weight: 400;
}

#anderline {
    text-align: left;
    margin-left: 60px;
    margin-top: 16px;
    font-size: 30px;
}

#border {
    width: 100%;
}

#contact {

    max-width: 600px;
    margin: 0 auto;
}

#title {
    font-size: 56px;
    font-weight: 700;
    line-height: 67.77px;
    text-align: center;
    margin-top: 50px;
    color: black;
}

#consectetur {
    font-size: 20px;
    font-weight: 400;
    line-height: 27.1px;
    color: #535862;
    max-width: 600px;
    text-align: center;
}

#contact-wrapper {
    max-width: 1221px;
    width: 100%;
    margin: 0 auto;
}

#main_background {


    background-color: #F7F4FF;
    border-radius: 10px;
    padding: 32px;


}

#mainSecondBackground {
    display: inline-block;
    width: 403px;
    height: 474px;
    background-color: white;
    margin-left: 30px;
    border-radius: 8px;
    vertical-align: middle;
    padding: 20px;
}

#joistic {
    display: inline-block;
}

#boxadres {
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
}

#addressText {
    vertical-align: middle;
    font-size: 20px;
    font-weight: 700;
    line-height: 29.1px;
    display: inline-block;
    vertical-align: middle;
}

#glen {
    font-size: 16px;
    font-weight: 400;
    color: #6D5F8B;

}

#wrapper {
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;

}

#emaill-wraper {
    display: inline-block;
    vertical-align: middle;
    margin-top: 24px;
    margin-left: 15px;
}

#emale {
    display: inline-block;
}

#imagesemal {
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
}

#emaill {
    font-size: 20px;
    font-weight: 700;
    line-height: 29.1px;
    display: inline-block;
    vertical-align: middle;
}

#deanna {
    font-size: 16px;
    font-weight: 400;
    color: #6D5F8B;
}

#numberbox {
    display: inline-block;
    vertical-align: middle;
    margin-top: 24px;
    margin-left: 16px;

}

#phone {
    display: inline-block;
}

#phoneboxes {
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
}

#one {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
}


#number {
    font-size: 16px;
    font-weight: 400;
    color: #6D5F8B;
}

#mainsend {
    vertical-align: top;
    display: inline-block;

}

#sendmain {
    color: #1B003D;
}



#send-message-input {
    font-size: 32px;
    font-weight: 900;
    line-height: 44px;
    display: block;
    display: inline-block;
    vertical-align: top;
}

#Fullname {
    font-size: 14px;
    padding: 16px;

}

#texttype {
    border-radius: 8px;
    margin-top: 16px;
    border-color: #8E26C0;
    width: 100%;
    height: 45px;
    padding: 15px;

}

#email--type {
    margin-top: 16px;
}

#write {
    width: 100%;
    height: 45px;    
    border-color: #8E26C0;
    border-radius: 8px;
    padding: 17px;
}

#textarea {
    margin-top: 16px;
    border-color: #8E26C0;
    border-radius: 8px;
    height: 75px;
    padding: 16px;
    width: 100%;

}

#boxsis {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;

}

#button {
    border-color: #8E26C0;
    padding: 12px 24px;
}

#footer {
    background-color: #53389E;
    width: 100%;
    margin-top: 163px;
    color: #F7F4FF;
}

#footer-underline {
    padding: 64px 320px;
    display: inline-block;
    margin-left: 43px;
}

#list {
    list-style: none;
}

#underline {
    display: inline-block;
    vertical-align: top;
    width: 164px;

}

#line-title {
    color: #D6BBFB;
}

.product {
    margin-top: 10px;
}

#underline-too {
    display: inline-block;
    vertical-align: top;
    width: 164px;
}

#listunderline {
    list-style: none;
    display: inline-block;


}

#list-compani {
    color: #D6BBFB;
}

.Company {
    margin-top: 10px;
}



#underline-three {
    display: inline-block;
    vertical-align: top;
    width: 164px;
}

#listuse {
    list-style: none;
    display: inline-block;
}

#one {
    color: #D6BBFB;
}

.usecases {
    margin-top: 10px;
}

#underline-Social {
    display: inline-block;
    vertical-align: top;
    width: 164px;
}

#listsocial {
    list-style: none;
    display: inline-block;
}

#idsocial {
    color: #D6BBFB;
}

.claassocial {
    margin-top: 10px;
}

#underlinefinish {
    display: inline-block;
    vertical-align: top;
    width: 164px;
}

#listfinish {
    list-style: none;
    display: inline-block;
}

#legal {
    color: #D6BBFB;
}

.listlegal {
    margin-top: 10px;
}

#footerhr {
    max-width: 800px;
    border-top: 1px solid red;
    margin: auto;
}

#footerlogos {
    margin-top: 15px;
    display: inline-block;
}


#logos-name {
    margin-top: 25px;
    display: inline-block;
    vertical-align: top;
    width: 97px;
}


#untitled {
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
    margin-left: 400px;
    color: #D6BBFB;
}